# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
.vscode
package.json
package-lock.json
0.pack
index.pack
.vscode/settings.json
node-server/node_modules
python-server/venv
python-server/nltk_data
python-server/features/faq_chat/test/chat_bot/tfidf_matrix.pkl
python-server/features/faq_chat/test/chat_bot/tfidf_vectorizer.pkl
